transformers
peft
trl
bitsandbytes
accelerate
datasets
sentence-transformers
langchain
langchain-core
langchain-community
langchain-huggingface
langchain-chroma
langchain-text-splitters
chromadb
scikit-learn
pydantic
streamlit
pyngrok
